<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.example.timberapp">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_logo"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_logo_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">

        <!-- Profile -->
        <activity
                android:name=".Profile"
                android:parentActivityName=".Home">
        </activity>
        <!-- Home -->
        <activity
                android:name=".Home"
                android:parentActivityName=".SignInUp">
        </activity>
        <!-- Sign in/up -->
        <activity android:name=".SignInUp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
